
{{!-- body --}}
<center>
    todo listo para usar socket
    <div>
        <input id="chatBox" >
    </div>
    <div>
        <ul id="messageLogs"></ul>
    </div>

</center>
<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js "></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/virtual/js/index.js"></script>