<div>
    <h1>Hola {{ user.name }}  {{user.last_name}}, que gusto verte!!</h1>
    {{#if isAdmin}}
        <h3>Podés ver los usuarios</h3>
        {{#each users}}
            <div>
                <p>Nombre y apellido: {{this.name}} {{this.last_name}}</p>
                <p>Género: {{this.gender}}</p>
            </div>
        {{/each}}
    {{else}}
        <h3>No tienes permisos de ver los usuarios</h3>
    {{/if}}
</div>
<script src="/static/js/index.js"></script>