<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido {{ nombre }}</h1>
    <label>El pedido sera entregado a {{direccion}}</label>
    <form action="/api/productos" method="POST" enctype="multipart/form-data">
        <label>Nombre</label>
        <input name="title">
        <label>Url Imagen</label>
        <input name="thumbnail">
        <label>Subir imagen</label>
        <input type="file" name="file">
        <input type="submit">
    </form>
    <script src="index.js"></script>
</body>
</html>