<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{!-- <link rel="stylesheet" href="virtual/css/{{style}}"> --}}

</head>

<body>
    <nav>
        <a href="/api/productos">Productos</a>
        <a href="/api/usuarios">Usuarios</a>
        <a href="/session">Login</a>
        <a href="/session/register">Register</a>
        <a href="/session/logout">Logout</a>
    </nav>
    {{{body}}}
</body>
</html>