
{{!-- body --}}
<div>
    todo listo para usar socket
    
    <input id="textbox">
    <p id="log"></p>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/virtual/js/index.js"></script>